certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
cssselect==1.2.0
DataRecorder==3.5.3
distlib==0.3.8
DownloadKit==2.0.4
DrissionPage==4.1.0.6
et-xmlfile==1.1.0
filelock==3.16.1
identify==2.6.1
idna==3.10
iniconfig==2.0.0
lxml==5.3.0
nodeenv==1.9.1
openpyxl==3.1.5
packaging==24.1
platformdirs==4.3.6
pluggy==1.5.0
pre-commit==3.8.0
psutil==6.0.0
pytest==8.3.3
PyYAML==6.0.2
requests==2.32.3
requests-file==2.1.0
SQLAlchemy==2.0.35
tldextract==5.1.2
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.26.6
websocket-client==1.8.0
